*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.aNav{
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.custom-shape-divider-bottom-1666963594 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1666963594 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1666963594 .shape-fill {
    fill: #FFFFFF;
}


/*---- Shapes ----*/
#cerchio1{
    font-size: 200px;
    color: rgba(89, 145, 255, 0.29);
    left: -101px;
    position: absolute;
    padding-top: 4%;
}

#quadrato1{
    font-size: 180px;
    color: rgba(89, 145, 255, 0.29);
    left: 1167px;
    position: absolute;
    transform: rotate(-37.84deg);
}

#cerchio2{
    font-size: 180px;
    color: rgba(89, 145, 255, 0.29);
    left: 1167px;
    position: absolute;
    padding-top: 4%;
}

#quadrato2{
    font-size: 200px;
    color: rgba(89, 145, 255, 0.29);
    left: -101px;
    position: absolute;
    transform: rotate(-37.84deg);
    padding-top: 4%;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1666963594 svg {
        width: calc(184% + 1.3px);
        height: 135px;
    }
}


.sezione{
    position: relative; 
    background: rgb(25,150,255);
    background: -moz-linear-gradient(180deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 65%, rgba(248,253,253,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 65%, rgba(248,253,253,1) 100%);
    background: linear-gradient(180deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 65%, rgba(248,253,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1996ff",endColorstr="#f8fdfd",GradientType=1);
    min-height: 100vh;
}

/*-------- NAVBAR --------*/

.contenitore{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 32px;
    height: 75px;

    /*---GLASSMORPHISM EFFECT---*/
    background: rgba(89, 145, 255, 0.394);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(89, 145, 255, 0.427);
}

h4{
    color: #f9f9f9;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.panino{
    display: none;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.panino span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: #f9f9f9;
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;
    transition: 0.4s;
}

.opzioni{
    display: flex;
    justify-content: flex-end;
    margin: 0 -16px;
}

.opzioni a{
    color: #f9f9f9;
    font-size: 15px;
    font-weight: 600;
    margin: 0 16px;
    transition: 0.4s;
    padding: 8px 6px;
    border-radius: 99px;
}

/*---- card chi siamo ----*/

img{
    width: 100%;
    height: auto;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
}
.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 5px;
    position: relative;
}
.section-title h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 3px;
    right: 32%;
    background-color: #50c5fc;
    bottom: -5px;

}
.container .section-title h1::before{
    left: 30%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 5px;
    box-sizing: border-box;
}
.column{
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 2.4%;
    flex: 0 0 100%;
    max-width: 25%;
}
.team{
    margin-bottom:30px ;
}
.team .team-img{
    position: relative;
    font-size: 0;
    text-align: center;
}
.team .team-img img{
    width: 160px;
    height: auto;
    border-radius: 100%;
    border: 20px solid #f3f4fa;
}

.team .team-content{
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: #f3f4fa;
    border-radius: 10px;
}
.team .team-content h2{
font-size: 25px;
font-weight: 400;
letter-spacing: 2px;
}
.team .team-content h3{
    font-size: 16px;
    font-weight: 300;
}
.team .team-content h4{
    font-size: 16px;
font-weight: 300;
letter-spacing: 1px;
font-style: italic;
margin-bottom: 0;
}
.team .team-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.team .team-social{
    width: 100%;
    height: 0%;
    padding: 0px;
    top: 80%;
    left: 0%;
    display: flex;
    justify-content: center;
    font-size: 0;
    z-index: 1;
}

.team .team-social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right:5px ;
    padding: 11px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 50px;
}
.team .team-social a.social-tw{
    background: #00acee;
}
.team .team-social a.social-fb{
    background: #3b5998;
}
.team .team-social a.social-li{
    background: #0e76a8;
}
.team .team-social a.social-in{
    background: #3f729b;
}
.team .team-social a.social-yt{
    background: #c4302b;
}
.team .team-social a:last-child{
    margin-right: 0;
}


/* Mobile Responsive */

@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
    .column{
        max-width: 50%;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .column{
        max-width: 33.333333%;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .column{
        max-width: 22%;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
   
}



/*---- ANIMAZIONE PANINO BELLA ----*/

.panino:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: rgb(157, 180, 255);
}

.panino.active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.panino.active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.panino.active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.panino.active:hover span{
    background-color: rgb(157, 180, 255);
}

/*------------------------------------*/

.contenuti{
    display: flex;
    flex-direction: row;
}


.form{
    width: 30%;
    height: auto;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 25px;
    padding: 5% 0 5% 0;
    z-index: 1;
}

.form h1{
    margin-left: 10%;
    margin-right: 10%;
    font-size:250%;
    font-weight: 600;
    text-align: left;
    display: flex;
    justify-content: left;
    color: #fff;
}

.form p{
    margin-left: 10%;
    margin-right: 10%;
    font-size:small;
    font-weight: 20;
    text-align: left;
    display: flex;
    justify-content: left;
    color: #fff;
}

.content-mail{
    width: 80%;
    height: auto;
    margin-top: 3%;
    margin-left: 10%;
    border-radius: 15px;
    box-shadow: 8px 10px 13px -3px rgba(0,0,0,0.1);
    padding: 3% 0 3% 0;
    z-index: 1;
    background-color:#fff;
}

.content-mail input{
    background-color: transparent;
    border-color: transparent;
    margin-left: 4%;
    width: 60%;
}

.content-mail input:hover{
    background-color: transparent;
    border-color: transparent;
}

.content-mail input:active{
    background-color: transparent;
    border-color: transparent;
}

.content-mail button{
    padding: 2%;
    border: none;
    border-radius: 10px;
    background-color: #5991FF;
    color: white;
    margin: 0.8%;
    width: 30%;
    font-size:small;
    cursor: pointer;
}

.immagine img{
    width: 35%;
    height: auto;
    margin-top: 9%;
    position: absolute;
    margin-left: 16%;
}

.content-noi img{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: auto;
}

/*-------------------------------------------*/

.card img{
    width: 45%;
    margin-bottom: 10%;
}

.its, .universita, .lavoro{
    background-color: #f9f9f9;
    width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-radius: 25px;
    box-shadow: 8px 10px 13px -3px rgba(0,0,0,0.1);

    transition: transform 0.5s ease-in-out;
    color: #393939;
    z-index: 1;
}

.its, .universita, .lavoro p{
    text-align: justify;
    color: #393939;
}


.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section h1{
    display: flex;
    justify-content: center;
    margin: 13% 0 5% 0;
    font-size: 50px;
    color: #393939;
}


.its:hover, .universita:hover, .lavoro:hover{
    transform: translateY(-5%) scale(1.005) translateZ(0);
}


.percorsi h2{
    display: flex;
    justify-content: center;
    margin: 6% 0 10% 0;
    font-size: 50px;
    color: #393939;
}


.blob{
    position: absolute;
    width: 70%;
    transform: translateX(-55%);
    margin-top: -15%;
}

.blobb{
    position: absolute;
    width: 70%;
    transform: translateX(100%);
}

.liceo, .professionale{
    width: 25%;
    margin: -4% 0 5% 20%;
}

.tecnico{
    width: 25%;
    margin: -4% 20% 5% 0;
}

.percorsi b{
    font-size: 30px;
    color: #393939;
    width: 20%;
}


article{
    display: flex;
    flex-direction: row;
    margin: 0 0 5% 10%;
}

.percorsi{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}

.percorsi p{
    width: 50%;
}

.contrario{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 11%;
}

.contrario p{
    text-align: right;
}


.tabToggle{
    display: none;
}























/*---- TELEFONO ----*/

@media (max-width: 768px){

    body{
        overflow-x: hidden;
        max-width: 100%;
    }


    .panino{
        display: block;
    }

    .opzioni{
        position: fixed;
        left: -110%;
        top: 8vh;
        gap: 0;
        flex-direction: column;
        text-align: center;
        transition: 0.3s;
        width: 110%;

        background: rgba(255,255,255,0.55);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        border: 1px solid rgba(255,255,255,0.275);
    }

    .opzioni a{
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
        border-radius: 0;
    }

    .opzioni a:hover{
        background: rgba(52, 99, 255, 0.139);
        transition: none;
        border-radius: 0;
    }

    .navActive{
        left: 0;
    }

    #cerchio{
        width:200px;
        height:200px;
        background:green;
    }

    






    .immagine img{
        display: none;
    }

    .form{
        width: 90%;
        height: auto;
        margin: 25% auto 0 auto;
        border-radius: 25px;
        box-shadow: 8px 10px 13px -3px rgba(0,0,0,0.1);
        padding: 15% 5% 13% 5%;
    }

    .form p{
        font-size: 35px;
    }
    
    .bottoni{
        display: flex;
        justify-content: center;
        margin-top: 15%;
    }
    
    .bottoni button{
        padding: 3%;
        border: none;
        border-radius: 10px;
        background-color: #5991FF;
        color: white;
    }

 






#diploma{
    margin-top: 20%;
}
    
.card img{
    width: 45%;
    margin-bottom: 10%;
}

.its, .università, .lavoro{
    background-color: #f5f5f5;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8%;
    border-radius: 25px;
    box-shadow: 8px 10px 13px -3px rgba(0,0,0,0.1);
    margin: 0 auto 15% auto;

    transition: transform 0.5s ease-in-out;
    color: #393939;
    z-index: 1;
}

.its, .università, .lavoro p{
    text-align: justify;
    color: #393939;
}


.card{
    display: flex;
    flex-direction: column;
}

section h1{
    display: flex;
    justify-content: center;
    margin: 13% 0 5% 0;
    font-size: 50px;
    color: #393939;
}


.its:hover, .università:hover, .lavoro:hover{
    transform: none;
}


.percorsi h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 6% auto 10% auto;
    font-size: 50px;
    color: #393939;
}


.blob{
    /*position: absolute;
    width: 70%;
    transform: translateX(-55%);
    margin-top: -15%;*/
    display: none;
}

.blobb{
    /*position: absolute;
    width: 70%;
    transform: translateX(100%);*/
    display: none;
}












.tabToggle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-title p{
    text-align: center;
    font-size: 25px;
    color: #448cf9;
    margin: 5% 0 5% 0;
}

.info-content p{
    text-align: justify;
    padding: 6%;

}

.info-box{
    width: 90%;
    margin-top: 5%;
    background-image: url("./img/blob1.png");
    border-radius: 20px;
    box-shadow: 8px 10px 13px -3px rgba(0,0,0,0.1);
}

.percorsi{
    display: none;
}



}




















/* IPAD */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .panino{
        display: block;
    }

    .opzioni{
        position: fixed;
        left: -110%;
        top: 8vh;
        gap: 0;
        flex-direction: column;
        text-align: center;
        transition: 0.3s;
        width: 110%;

        background: rgba(255,255,255,0.55);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        border: 1px solid rgba(255,255,255,0.275);
    }

    .opzioni a{
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
        border-radius: 0;
    }

    .opzioni a:hover{
        background: rgba(52, 99, 255, 0.139);
        transition: none;
        border-radius: 0;
    }

    .navActive{
        left: 0;
    }

    
    .immagine img{
        display: none;
    }

    .form{
        width: 90%;
        height: auto;
        margin: 17% auto 0 auto;
        border-radius: 25px;
        box-shadow: 8px 10px 13px -3px rgba(0,0,0,0.1);
        padding: 10% 0 5% 0;
    }
    
    .bottoni{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    
    .bottoni button{
        padding: 3%;
        border: none;
        border-radius: 10px;
        background-color: #5991FF;
        color: white;
    }

   
}
