@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contenitore{
    max-width: 1280px;
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 32px;
    height: 75px;
    background-color: #4e7dc8;
}

h4{
    color: #f9f9f9;
    font-size: 25px;
    letter-spacing: 1.5px;
}

nav a{
    color: white;
}



.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}


.statistiche, .messaggi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    width: 15%;
    padding: 1%;
    box-shadow: 11px 11px 15px -3px rgba(0,0,0,0.1);
    border-radius: 15px;
    cursor: pointer;
    margin-top: 15%;
}

.statistiche .fa-chart-simple, .messaggi .fa-messages-question, .email .fa-envelope{
    color: #4e7dc8;
    font-size: 1.5rem;
}

.statistiche h2, .messaggi h2, .email h2{
    font-weight: 300;
    font-size: 20px;
    margin-left: 1rem;
}

.email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    width: 15%;
    padding: 1%;
    box-shadow: 11px 11px 15px -3px rgba(0,0,0,0.1);
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
    margin-top: 5%;

}