*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: #d2e9fa;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1996ff",endColorstr="#f8fdfd",GradientType=1);
    min-height: 10%;
}

body{
    overflow: hidden;
    min-height: 10%;
}

section{
    width: 90%;
    height: auto;
    background-color: #A7DAFF;
    margin: auto;
    margin-top: 3.5%;
    background-image: url(../img/pattern1.png);
    border-radius: 5px;
    box-shadow: 10px 13px 15px -3px rgba(0,0,0,0.1);
}

.bar{
    width: 100%;
    height: 10px;
    background-color: #98cff6;
}

.bar .width{
    width: 20%;
    height: 10px;
    background-color: #006bb7;
}

.header{
    display: flex;
    flex-direction: column;
    padding-bottom:2%;
    color: white;
    position: relative;
}

.header h1{
    text-align: center;
}

.header p{
    text-align: center;
}

hr{
    width: 100%;
    border: 2px solid #6DC1FF;
    
}

form{
    padding: 1%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}


.rispostaA, .rispostaB, .rispostaC, .rispostaD{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    width: 30%;
    padding: 1.5%;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 2%;
}

.rispostaA p, .rispostaB p, .rispostaC p, .rispostaD p{
    margin-left: 5%;
}

.rispostaA .cerchio, .rispostaB .cerchio, .rispostaC .cerchio, .rispostaD .cerchio{
    background-color: #C1E5FF; 
    width: 10%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rispostaA .cerchio p, .rispostaB .cerchio p, .rispostaC .cerchio p, .rispostaD .cerchio p{
    color: #0063AC;
    font-weight: 600;
    padding: 0.5rem;
}

.cappelloViola{
    position: absolute;
    top: 16%;
    left: 10%;
    width: 13%;
}

.diploma{
    width: 15%;
    position: absolute;
    top: 30%;
    right: 1%;
    transform: rotate(10deg);
}

.mappamondo{
    width: 13%;
    position: absolute;
    bottom: 1%;
    left: 1%;
    transform: rotate(5deg);
}

.frecciaA{
    width: 13%;
    padding-top: 2%;
    padding-left: 2%;
}

#freccia{
    display: flex;
    font-size: 40px;
    color: #fff;
    cursor:pointer;
    z-index: 1;
}

/*---- Shapes ----*/
#cerchio1{
    font-size: 200px;
    color: rgba(89, 145, 255, 0.29);
    left: -60px;
    position: absolute;
    display: flex;
}

#quadrato1{
    font-size: 180px;
    color: rgba(89, 145, 255, 0.29);
    left: 1167px;
    position: absolute;
    transform: rotate(-37.84deg);
}