*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    background: rgb(25,150,255);
    background: -moz-linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    background: -webkit-linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    background: linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1996ff",endColorstr="#f8fdfd",GradientType=1);
    min-height: 100%;
}

body{
    overflow: hidden;
    min-height: 100%;
}

section{
    width: 90%;
    height: auto;
    background-color: #A7DAFF;
    margin: auto;
    margin-top: 3.5%;
    background-image: url(../img/pattern1.png);
    border-radius: 5px;
    box-shadow: 10px 13px 15px -3px rgba(0,0,0,0.1);
}

.bar{
    width: 100%;
    height: 10px;
    background-color: #6DC1FF;
}

.bar .width{
    width: 15%;
    height: 10px;
    background-color: #0079cf;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    color: #0063AC;
}

hr{
    width: 100%;
    border: 2px solid #6DC1FF;
}

form{
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.rispostaA, .rispostaB, .rispostaC, .rispostaD{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    width: 30%;
    padding: 1.5%;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 2%;
}

.rispostaA p, .rispostaB p, .rispostaC p, .rispostaD p{
    margin-left: 5%;
}

.rispostaA .cerchio, .rispostaB .cerchio, .rispostaC .cerchio, .rispostaD .cerchio{
    background-color: #C1E5FF; 
    width: 10%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rispostaA .cerchio p, .rispostaB .cerchio p, .rispostaC .cerchio p, .rispostaD .cerchio p{
    color: #0063AC;
    font-weight: 600;
    padding: 0.5rem;
}

.cappelloViola{
    position: absolute;
    top: 16%;
    left: 10%;
    width: 13%;
}

.diploma{
    width: 15%;
    position: absolute;
    top: 30%;
    right: 1%;
    transform: rotate(10deg);
}

.mappamondo{
    width: 13%;
    position: absolute;
    bottom: 1%;
    left: 1%;
    transform: rotate(5deg);
}