*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    background: rgb(25,150,255);
    background: -moz-linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    background: -webkit-linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    background: linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1996ff",endColorstr="#f8fdfd",GradientType=1);
    min-height: 100%;
}

body{
    overflow: hidden;
    min-height: 100%;
}

section{
    width: 90%;
    height: auto;
    background-color: #A7DAFF;
    margin: auto;
    margin-top: 3.5%;
    background-image: url(../img/pattern1.png);
    border-radius: 5px;
}

.bar{
    width: 100%;
    height: 10px;
    background-color: #6DC1FF;
}

.bar .width{
    width: 15%;
    height: 10px;
    background-color: #0079cf;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    color: #0063AC;
}

hr{
    width: 100%;
    border: 2px solid #6DC1FF;
}

form{
    padding: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin-top: 1.5rem;
    padding: 1.5%;
    width: 30%;
    border-radius: 20px;
    outline: none;
    border: none;
    border-radius: 18px;
}

input:focus{
    outline: #2da8ff 3px solid;
    border: none;
}

select{
    margin-top: 1.5rem;
    padding: 1.5%;
    width: 30%;
    border-radius: 20px;
    outline: none;
    border: none;
    border-radius: 18px;
    box-shadow: 11px 14px 22px 3px rgba(0,0,0,0.1);
}

select:focus{
    outline: #2da8ff 3px solid;
    border: none;
}


.cappelloViola{
    position: absolute;
    top: 5%;
    left: 1%;
    width: 13%;
}

.diploma{
    width: 15%;
    position: absolute;
    top: 10%;
    right: 1%;
    transform: rotate(10deg);
}

.mappamondo{
    width: 13%;
    position: absolute;
    bottom: 1%;
    left: 1%;
    transform: rotate(5deg);
}
.header{
    background-color: rgb(245, 240, 240);
    border-radius: 10px;
    overflow: Auto;
    background-color: #EEEEEE;
    height: 450px;
    scrollbar-base-color: #2da8ff;
    scrollbar-arrow-color: #CCCCCC;
    scrollbar-track-color: #CCCCCC;
}

.container {
    display: block;
    position: relative;
    padding-left: 60px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-color: rgb(25,150,255);;
    border-style: solid;
    border-width: 1px;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  } 
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


.form-control {
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.1;
    display: flex;
    grid-template-columns: 1em auto;
    gap: 0.4em;
    
}

  
