*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    background: rgb(25,150,255);
    background: -moz-linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    background: -webkit-linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    background: linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1996ff",endColorstr="#f8fdfd",GradientType=1);
    min-height: 100%;
}

body{
    overflow: hidden;
    min-height: 100%;
}

section{
    width: 90%;
    height: 690px;
    background-color: #A7DAFF;
    margin: 3.5% auto;
    background-image: url(../img/pattern1.png);
    border-radius: 5px;
    padding-top: 3%;
}

.bar{
    width: 100%;
    height: 10px;
    background-color: #6DC1FF;
}

.bar .width{
    width: 15%;
    height: 10px;
    background-color: #0079cf;
}


hr{
    width: 100%;
    border: 2px solid #6DC1FF;
    margin-top: 20px;
}

form{
    padding: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin-top: 1.5rem;
    padding: 2%;
    width: 50%;
    border-radius: 20px;
    border: none;
    border-radius: 18px;
    outline: 2px solid #6DC1FF;
    box-shadow: 11px 14px 22px 3px rgba(0,0,0,0.1);
}

input:focus{
    outline: #2da8ff 2px solid;
    border: none;
}

select{
    margin-top: 1.5rem;
    padding: 2%;
    width: 50%;
    border-radius: 20px;
    border: none;
    border-radius: 18px;
    box-shadow: 11px 14px 22px 3px rgba(0,0,0,0.1);
    outline: 2px solid #6DC1FF;
}

select:focus{
    outline: #2da8ff 2px solid;
    border: none;
}


.cappelloViola{
    position: absolute;
    top: 5%;
    left: 1%;
    width: 13%;
}

.diploma{
    width: 15%;
    position: absolute;
    top: 10%;
    right: 1%;
    transform: rotate(10deg);
}

.mappamondo{
    width: 13%;
    position: absolute;
    bottom: 1%;
    left: 1%;
    transform: rotate(5deg);
}

.header{
    border-radius: 10px;
    background-color: #EEEEEE;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0063AC;
    width: 70%;
    margin: auto;
    height: 580px;
}



.form-control {
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.1;
    display: flex;
    grid-template-columns: 1em auto;
    gap: 0.4em;
    
}

.content_header{
    background-color: rgb(245, 240, 240);
    border-radius: 10px;
    overflow: Auto;
    background-color: #EEEEEE;
    height: 900px;
    width:900px;
}

.paragrafo{
    font-weight: bold;
    font-size: 1.5rem;
    text-align:center;
}

.button{
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    background-color: #0063AC;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    box-shadow: 11px 14px 22px 3px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #2893e5;
}







@media (max-width: 768px){
    .cappelloViola{
        display: none;
    }
    
    .diploma{
        display: none;
    }
    
    .mappamondo{
        display: none;
    }

    section{
        height: 870px;
        
    }

    .header{
        width: 90%;
        height: 840px;
    }

    input{
        margin-top: 2rem;
        padding: 5%;
        width: 90%;
    }
 
    select{
        margin-top: 2rem;
        padding: 5%;
        width: 90%;
    }

    .button{
        padding: 12px 24px;
        font-size: 16px;
        color: white;
        background-color: #0063AC;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s ease;
        margin-top: 20px;
        box-shadow: 11px 14px 22px 3px rgba(0,0,0,0.1);
    }
    
    button:hover {
        background-color: #2893e5;
    }
}