*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    background: rgb(25,150,255);
    background: -moz-linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    background: -webkit-linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    background: linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1996ff",endColorstr="#f8fdfd",GradientType=1);
    min-height: 100%;
}

body{
    overflow: hidden;
    min-height: 100%;
}

section{
    width: 90%;
    height: auto;
    background-color: #A7DAFF;
    margin: auto;
    margin-top: 3.5%;
    background-image: url(../img/pattern1.png);
    border-radius: 5px;
    box-shadow: 10px 13px 15px -3px rgba(0,0,0,0.1);
}

.bar{
    width: 100%;
    height: 10px;
    background-color: #6DC1FF;
}

.bar .width{
    width: 15%;
    height: 10px;
    background-color: #0079cf;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    color: #0063AC;
}

hr{
    width: 100%;
    border: 2px solid #6DC1FF;
}

form{
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cappelloViola{
    position: absolute;
    top: 10%;
    left: 6%;
    width: 13%;
}

.diploma{
    width: 15%;
    position: absolute;
    top: 30%;
    right: 1%;
    transform: rotate(10deg);
}

.mappamondo{
    width: 13%;
    position: absolute;
    bottom: 1%;
    left: 1%;
    transform: rotate(5deg);
}

.title{
    background-color: rgb(245, 240, 240);
    border-radius: 10px;
    overflow: Auto;
    background-color: #EEEEEE;
    height: 450px;
    scrollbar-base-color: #2da8ff;
    scrollbar-arrow-color: #CCCCCC;
    scrollbar-track-color: #CCCCCC;
    width: 900px;
}

.title-title{
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 55px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.title-content{
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 20px;  
}

.scelta{
    margin-left: 30px;
    margin: top 10px;
    display: flex;
    float:left;
}

.pallino{
    border-radius: 100%;
    background-color: #0079cf;
    height: 10px;
    width: 10px;
    display: flex;
    float:left;
    margin-left: 35px;
    margin-top: 3px;
}

.inputNome{
    width: 190px;
    height: 25px;
    border-radius: 20px;
    outline: none;
    border: none;
    border-radius: 18px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #0063AC;
    font-size: larger;
    font-weight: bold;
}

.input{
    width: 190px;
    height: 18px;
    border-radius: 20px;
    outline: none;
    border: none;
    border-radius: 18px;
    display: flex;
    float:left;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #0063AC;
}

.inputPunti{
    width: 60px;
    height: 18px;
    border-radius: 20px;
    outline: none;
    border: none;
    border-radius: 18px;
    display: flex;
    float:left;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #0063AC;
}

h3{
    padding-top: 10px;
}

.button-19 {
  appearance: button;
  background-color: #02528a;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 200px;
  margin-top: 40px;
  margin-left: 165px;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #0063AC;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
  
}
