*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    background: rgb(25,150,255);
    background: -moz-linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    background: -webkit-linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    background: linear-gradient(0deg, rgba(25,150,255,1) 0%, rgba(70,214,255,1) 38%, rgba(73,236,255,0.9755252442773985) 70%, rgba(248,253,253,0.8802871490393032) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1996ff",endColorstr="#f8fdfd",GradientType=1);
    min-height: 100%;
}

body{
    overflow: hidden;
    min-height: 100%;
}

input[type=text]{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #0063AC;
    width: min-content;
}

section{
    width: 90%;
    height: 650px;
    background-color: #A7DAFF;
    margin: 3.5% auto;
    background-image: url(../img/pattern1.png);
    border-radius: 5px;
    box-shadow: 10px 13px 15px -3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    color: #0063AC;
}

.cappelloViola{
    position: absolute;
    top: 10%;
    left: 6%;
    width: 13%;
}

.diploma{
    width: 15%;
    position: absolute;
    top: 30%;
    right: 1%;
    transform: rotate(10deg);
}

.mappamondo{
    width: 13%;
    position: absolute;
    bottom: 6%;
    left: 1%;
    transform: rotate(5deg);
}

.info{
    background-color: rgb(217, 237, 255);
    border-radius: 10px;
    height: 550px;
    width: 900px;
}

.titolo{
    display: flex;
    flex-direction: row;
}

.titolo h1{
    margin: 5% auto 2%;
}

form h2{
    text-align: center;
    font-size: large;
}

ul{
    margin: 6% 0 0 10%;
    font-size: larger;
}

h3{
    margin-top: 1%;
    text-align: center;
    text-transform: uppercase;
}

.scuole{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 4% 0 4%;
    text-align: center;
    font-size: larger;
}

h5{
    text-transform: capitalize;
}


.button-19 {
  background-color: #02528a;
  border-radius: 16px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 200px;
  margin: 7% 0 0 19%;
  outline: none;
  border: none;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #0063AC;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}










@media (max-width: 768px){
    .cappelloViola{
        display: none;
    }
    
    .diploma{
        display: none;
    }
    
    .mappamondo{
        display: none;
    }

    section{
        height: 860px;
        width: 90%;
        margin: 4% auto;
    }

    .info{
        height: 810px;
        margin: 3% auto;
        width: 98%;
    }

    input{
        margin-top: 5%;
        width: 90%;
    }

    .titolo{
        flex-direction: column;
        text-align: center;
        font-size: 25px;
        margin-bottom: 6%;
    }

    .scuole{
        flex-direction: column;
    }

    .button-19{
        margin-top: 10%;
    }
    
}